html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.breath-row {
  max-width: 1100px;
  padding: 0rem 1.6rem;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .breath-row {
    padding: 0rem 3rem;
  }
}

.breath-tb {
  padding-top: 1.8em;
  padding-bottom: 1.8em;
}

@media (min-width: 660px) {
  .breath-tb {
    padding-top: 2.8em;
    padding-bottom: 2.8em;
  }
}

.relative {
  position: relative;
}

.light-to-read {
  position: absolute;
  width: 102%;
  height: 102%;
}

.form-button {
  background: #333333 !important;
}

.form-button:hover, .form-button:active, .form-button:focus {
  background: #1f1f1f !important;
}

button, .form-button, input[type="button"], input[type="reset"], input[type="submit"],
button, .form-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover,
.form-button:hover, button:focus, .form-button:focus, input[type="button"]:hover,
input[type="button"]:focus, input[type="reset"]:hover,
input[type="reset"]:focus, input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
.form-button:hover, button:focus, .form-button:focus {
  background-color: #2c5999;
  color: #fff;
}

button:disabled, .form-button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
button:disabled, .form-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em;
}

input,
label,
select {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1em;
}

label {
  font-weight: 600;
  margin-bottom: 0.375em;
}

label.required::after {
  content: "*";
}

label abbr {
  display: none;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%;
}

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple=multiple]:hover,
textarea:hover {
  border-color: #c4c4c4;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple=multiple]:focus,
textarea:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: 0.75em;
}

dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}

dl dd {
  margin: 0;
}

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear;
}

a:active,
a:focus,
a:hover {
  color: #2c5999;
}

a:active,
a:focus {
  outline: none;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

::-moz-selection {
  color: white;
  background: #D1202A;
}

::selection {
  color: white;
  background: #D1202A;
}

a,
input,
button,
.form-button, label {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

body {
  margin: 0;
  background-color: white;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xfknlh");
  src: url("../fonts/icomoon.eot?#iefixxfknlh") format("embedded-opentype"), url("../fonts/icomoon.ttf?xfknlh") format("truetype"), url("../fonts/icomoon.woff?xfknlh") format("woff"), url("../fonts/icomoon.svg?xfknlh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ux:before {
  content: "\e600";
}

.icon-css:before {
  content: "\e601";
}

.icon-html:before {
  content: "\e602";
}

.icon-sketch-alt:before {
  content: "\e603";
}

.icon-arduino:before {
  content: "\e604";
}

.icon-mobile:before {
  content: "\e605";
}

.icon-ux-alt:before {
  content: "\e606";
}

.icon-javascript:before {
  content: "\e607";
}

.icon-arduino-alt:before {
  content: "\e608";
}

.icon-eye:before {
  content: "\e000";
}

.icon-paper-clip:before {
  content: "\e001";
}

.icon-mail:before {
  content: "\e002";
}

.icon-toggle:before {
  content: "\e003";
}

.icon-layout:before {
  content: "\e004";
}

.icon-link:before {
  content: "\e005";
}

.icon-bell:before {
  content: "\e006";
}

.icon-lock:before {
  content: "\e007";
}

.icon-unlock:before {
  content: "\e008";
}

.icon-ribbon:before {
  content: "\e009";
}

.icon-image:before {
  content: "\e010";
}

.icon-signal:before {
  content: "\e011";
}

.icon-target:before {
  content: "\e012";
}

.icon-clipboard:before {
  content: "\e013";
}

.icon-clock:before {
  content: "\e014";
}

.icon-watch:before {
  content: "\e015";
}

.icon-air-play:before {
  content: "\e016";
}

.icon-camera:before {
  content: "\e017";
}

.icon-video:before {
  content: "\e018";
}

.icon-disc:before {
  content: "\e019";
}

.icon-printer:before {
  content: "\e020";
}

.icon-monitor:before {
  content: "\e021";
}

.icon-server:before {
  content: "\e022";
}

.icon-cog:before {
  content: "\e023";
}

.icon-heart:before {
  content: "\e024";
}

.icon-paragraph:before {
  content: "\e025";
}

.icon-align-justify:before {
  content: "\e026";
}

.icon-align-left:before {
  content: "\e027";
}

.icon-align-center:before {
  content: "\e028";
}

.icon-align-right:before {
  content: "\e029";
}

.icon-book:before {
  content: "\e030";
}

.icon-layers:before {
  content: "\e031";
}

.icon-stack:before {
  content: "\e032";
}

.icon-stack-2:before {
  content: "\e033";
}

.icon-paper:before {
  content: "\e034";
}

.icon-paper-stack:before {
  content: "\e035";
}

.icon-search:before {
  content: "\e036";
}

.icon-zoom-in:before {
  content: "\e037";
}

.icon-zoom-out:before {
  content: "\e038";
}

.icon-reply:before {
  content: "\e039";
}

.icon-circle-plus:before {
  content: "\e040";
}

.icon-circle-minus:before {
  content: "\e041";
}

.icon-circle-check:before {
  content: "\e042";
}

.icon-circle-cross:before {
  content: "\e043";
}

.icon-square-plus:before {
  content: "\e044";
}

.icon-square-minus:before {
  content: "\e045";
}

.icon-square-check:before {
  content: "\e046";
}

.icon-square-cross:before {
  content: "\e047";
}

.icon-microphone:before {
  content: "\e048";
}

.icon-record:before {
  content: "\e049";
}

.icon-skip-back:before {
  content: "\e050";
}

.icon-rewind:before {
  content: "\e051";
}

.icon-play:before {
  content: "\e052";
}

.icon-pause:before {
  content: "\e053";
}

.icon-stop:before {
  content: "\e054";
}

.icon-fast-forward:before {
  content: "\e055";
}

.icon-skip-forward:before {
  content: "\e056";
}

.icon-shuffle:before {
  content: "\e057";
}

.icon-repeat:before {
  content: "\e058";
}

.icon-folder:before {
  content: "\e059";
}

.icon-umbrella:before {
  content: "\e060";
}

.icon-moon:before {
  content: "\e061";
}

.icon-thermometer:before {
  content: "\e062";
}

.icon-drop:before {
  content: "\e063";
}

.icon-sun:before {
  content: "\e064";
}

.icon-cloud:before {
  content: "\e065";
}

.icon-cloud-upload:before {
  content: "\e066";
}

.icon-cloud-download:before {
  content: "\e067";
}

.icon-upload:before {
  content: "\e068";
}

.icon-download:before {
  content: "\e069";
}

.icon-location:before {
  content: "\e070";
}

.icon-location-2:before {
  content: "\e071";
}

.icon-map:before {
  content: "\e072";
}

.icon-battery:before {
  content: "\e073";
}

.icon-head:before {
  content: "\e074";
}

.icon-briefcase:before {
  content: "\e075";
}

.icon-speech-bubble:before {
  content: "\e076";
}

.icon-anchor:before {
  content: "\e077";
}

.icon-globe:before {
  content: "\e078";
}

.icon-box:before {
  content: "\e079";
}

.icon-reload:before {
  content: "\e080";
}

.icon-share:before {
  content: "\e081";
}

.icon-marquee:before {
  content: "\e082";
}

.icon-marquee-plus:before {
  content: "\e083";
}

.icon-marquee-minus:before {
  content: "\e084";
}

.icon-tag:before {
  content: "\e085";
}

.icon-power:before {
  content: "\e086";
}

.icon-command:before {
  content: "\e087";
}

.icon-alt:before {
  content: "\e088";
}

.icon-esc:before {
  content: "\e089";
}

.icon-bar-graph:before {
  content: "\e090";
}

.icon-bar-graph-2:before {
  content: "\e091";
}

.icon-pie-graph:before {
  content: "\e092";
}

.icon-star:before {
  content: "\e093";
}

.icon-arrow-left:before {
  content: "\e094";
}

.icon-arrow-right:before {
  content: "\e095";
}

.icon-arrow-up:before {
  content: "\e096";
}

.icon-arrow-down:before {
  content: "\e097";
}

.icon-volume:before {
  content: "\e098";
}

.icon-mute:before {
  content: "\e099";
}

.icon-content-right:before {
  content: "\e100";
}

.icon-content-left:before {
  content: "\e101";
}

.icon-grid:before {
  content: "\e102";
}

.icon-grid-2:before {
  content: "\e103";
}

.icon-columns:before {
  content: "\e104";
}

.icon-loader:before {
  content: "\e105";
}

.icon-bag:before {
  content: "\e106";
}

.icon-ban:before {
  content: "\e107";
}

.icon-flag:before {
  content: "\e108";
}

.icon-trash:before {
  content: "\e109";
}

.icon-expand:before {
  content: "\e110";
}

.icon-contract:before {
  content: "\e111";
}

.icon-maximize:before {
  content: "\e112";
}

.icon-minimize:before {
  content: "\e113";
}

.icon-plus:before {
  content: "\e114";
}

.icon-minus:before {
  content: "\e115";
}

.icon-check:before {
  content: "\e116";
}

.icon-cross:before {
  content: "\e117";
}

.icon-move:before {
  content: "\e118";
}

.icon-delete:before {
  content: "\e119";
}

.icon-menu:before {
  content: "\e120";
}

.icon-archive:before {
  content: "\e121";
}

.icon-inbox:before {
  content: "\e122";
}

.icon-outbox:before {
  content: "\e123";
}

.icon-file:before {
  content: "\e124";
}

.icon-file-add:before {
  content: "\e125";
}

.icon-file-subtract:before {
  content: "\e126";
}

.icon-help:before {
  content: "\e127";
}

.icon-open:before {
  content: "\e128";
}

.icon-ellipsis:before {
  content: "\e129";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-key:before {
  content: "\f084";
}

.icon-bookmark-o:before {
  content: "\f097";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-magic:before {
  content: "\f0d0";
}

.icon-money:before {
  content: "\f0d6";
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-caret-up:before {
  content: "\f0d8";
}

.icon-caret-left:before {
  content: "\f0d9";
}

.icon-caret-right:before {
  content: "\f0da";
}

.icon-sort-desc:before {
  content: "\f0dd";
}

.icon-sort-asc:before {
  content: "\f0de";
}

.icon-angle-double-left:before {
  content: "\f100";
}

.icon-angle-double-right:before {
  content: "\f101";
}

.icon-angle-double-up:before {
  content: "\f102";
}

.icon-angle-double-down:before {
  content: "\f103";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-circle-o:before {
  content: "\f10c";
}

.icon-quote-left:before {
  content: "\f10d";
}

.icon-quote-right:before {
  content: "\f10e";
}

.icon-circle:before {
  content: "\f111";
}

.icon-folder-o:before {
  content: "\f114";
}

.icon-folder-open-o:before {
  content: "\f115";
}

.icon-ellipsis-h:before {
  content: "\f141";
}

.icon-ellipsis-v:before {
  content: "\f142";
}

.icon-youtube:before {
  content: "\f167";
}

.icon-youtube-play:before {
  content: "\f16a";
}

.icon-instagram:before {
  content: "\f16d";
}

.icon-tumblr:before {
  content: "\f173";
}

.icon-dribbble:before {
  content: "\f17d";
}

.icon-slack:before {
  content: "\f198";
}

.icon-sliders:before {
  content: "\f1de";
}

.icon-share-alt:before {
  content: "\f1e0";
}

.icon-connectdevelop:before {
  content: "\f20e";
}

.icon-diamond:before {
  content: "\f219";
}

.icon-genderless:before {
  content: "\f22d";
}

.icon-object-ungroup:before {
  content: "\f248";
}

.icon-clone:before {
  content: "\f24d";
}

.icon-hourglass-o:before {
  content: "\f250";
}

.icon-safari:before {
  content: "\f267";
}

.icon-chrome:before {
  content: "\f268";
}

.icon-firefox:before {
  content: "\f269";
}

@media (min-width: 660px) {
  .flex-2 {
    width: 49%;
    margin-right: 2%;
  }
  .flex-2:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media (min-width: 1000px) {
  .flex-3 {
    width: 31.3333333333%;
    margin-right: 3%;
  }
  .flex-3:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.main-header {
  background-color: black;
  width: 100%;
  position: relative;
  height: 60px;
}

.logo {
  margin-top: 3px;
  height: 30px;
  width: auto;
}

.menu-item {
  text-transform: uppercase;
}

.main-nav {
  max-width: 1100px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.main-nav-list {
  height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center;
}

.main-nav-list li {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}

.main-nav-list a {
  display: block;
  height: 60px;
  color: white;
  padding: 14px 20px 0;
}

.main-nav-list a:hover {
  background-color: #333333;
}

.sb-slidebar.sb-right {
  box-shadow: inset 3px 0px 10px #181818;
}

.aside-menu {
  padding-top: 64px;
}

.aside-list li {
  display: block;
  border-bottom: 2px solid #2e2e2e;
}

.aside-list .current-menu-item {
  border-left: 3px solid #D1202A;
  background-color: #1f1f1f;
}

.aside-list a {
  display: block;
  color: white;
  padding: 16px 20px;
}

.home {
  margin-top: 30px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.post-list {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 16px;
}

@media (max-width: 520px) {
  .post-list__li {
    width: 100%;
  }
  .post-list__li:last-child {
    margin-right: 0;
  }
}

.post-item {
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  overflow: hidden;
}

.post-item:hover [class*="hover-"] {
  opacity: .8;
}

.post-item:hover .icon-over-bg {
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}

[class*="hover-"] {
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.post-item-img {
  position: relative;
  height: 130px;
  background-position: center;
  background-size: cover;
}

.color-hover {
  position: absolute;
  width: 101%;
  height: 101%;
  top: 0;
}

.icon-over-bg {
  color: white;
  font-size: 46px;
  display: block;
  text-align: center;
  position: relative;
  top: 44.8275862069px;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}

.bg-html {
  background-color: #39ADD1;
}

.hover-html {
  background-color: rgba(57, 173, 209, 0.82);
}

.bg-javascript {
  background-color: #C25975;
}

.hover-javascript {
  background-color: rgba(194, 89, 117, 0.82);
}

.bg-css {
  background-color: #3079AB;
}

.hover-css {
  background-color: rgba(48, 121, 171, 0.82);
}

.bg-mobile {
  background-color: #5CB860;
}

.hover-mobile {
  background-color: rgba(92, 184, 96, 0.82);
}

.bg-ux {
  background-color: #E59A13;
}

.hover-ux {
  background-color: rgba(229, 154, 19, 0.82);
}

.bg-arduino {
  background-color: #2C9676;
}

.hover-arduino {
  background-color: rgba(44, 150, 118, 0.82);
}

.bg-sketch {
  background-color: #F0A540;
}

.hover-sketch {
  background-color: rgba(240, 165, 64, 0.82);
}

.post-item-inner {
  padding: 10px 16px;
}

.post-item-inner__date {
  color: #999999;
  font-size: 13px;
  font-weight: bold;
}

.post-item-inner__title {
  color: #4d4d4d;
  font-size: 18px;
}

.post-item-inner__title + p {
  font-size: 16px;
  color: #666666;
}

.post-hero {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.light-to-read {
  background-color: rgba(153, 153, 153, 0.65);
}

.inner-hero {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  padding: 5em 16px 6em;
}

@media (min-width: 660px) {
  .inner-hero {
    padding: 8em 16px 9em;
  }
}

.cat-title {
  color: white;
  border-bottom: 2px solid;
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: .7em;
  font-weight: 800;
  margin-bottom: .85em;
  padding: .1em 0;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.post-title {
  color: white;
  font-family: "Varela Round", sans-serif;
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 0.3em;
}

@media screen and (min-width: 660px) {
  .post-title {
    font-size: 2.4em;
  }
}

.author {
  text-align: center;
  margin-bottom: .45em;
  position: relative;
  top: -45px;
}

.author__img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 3px solid white;
}

.author__name {
  margin: 0;
  font-size: 22px;
  font-style: normal;
}

.date {
  color: rgba(51, 51, 51, 0.4);
  font-family: "Varela Round", sans-serif;
  font-style: italic;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: .3em;
}

.the-content {
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  font-family: "Noto Sans", sans-serif;
  text-align: left;
}

@media (max-width: 1000px) {
  .the-content h1, .the-content h2, .the-content h3, .the-content h4, .the-content h5, .the-content h6,
  .the-content blockquote, .the-content p {
    padding: 0 16px;
  }
}

.the-content::after {
  clear: both;
  content: "";
  display: table;
}

.the-content h1, .the-content h2, .the-content h3, .the-content p {
  margin: 0;
}

.the-content hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

.the-content p {
  color: #333;
  line-height: 1.5;
}

.the-content a {
  color: #477dca;
  text-decoration: none;
}

.the-content h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.9em;
  font-weight: 700;
  margin-bottom: 0.3em;
}

@media screen and (min-width: 660px) {
  .the-content h1 {
    font-size: 2.6em;
  }
}

.the-content h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: .9em;
}

@media screen and (min-width: 660px) {
  .the-content h2 {
    font-size: 1.5em;
  }
}

.the-content h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}

.the-content p {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 1;
  line-height: 1.55em;
  margin-bottom: 1.5em;
}

.the-content p span {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  font-style: italic;
}

.the-content hr {
  width: 3em;
}

.author {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  font-style: italic;
}

.the-comments {
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .the-comments {
    padding: 0 16px;
  }
}

.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}

.highlight .c {
  color: #75715e;
}

.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

.highlight .k {
  color: #66d9ef;
}

.highlight .l {
  color: #ae81ff;
}

.highlight .n {
  color: #f8f8f2;
}

.highlight .o {
  color: #f92672;
}

.highlight .p {
  color: #f8f8f2;
}

.highlight .cm {
  color: #75715e;
}

.highlight .cp {
  color: #75715e;
}

.highlight .c1 {
  color: #75715e;
}

.highlight .cs {
  color: #75715e;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .kc {
  color: #66d9ef;
}

.highlight .kd {
  color: #66d9ef;
}

.highlight .kn {
  color: #f92672;
}

.highlight .kp {
  color: #66d9ef;
}

.highlight .kr {
  color: #66d9ef;
}

.highlight .kt {
  color: #66d9ef;
}

.highlight .ld {
  color: #e6db74;
}

.highlight .m {
  color: #ae81ff;
}

.highlight .s {
  color: #e6db74;
}

.highlight .na {
  color: #a6e22e;
}

.highlight .nb {
  color: #f8f8f2;
}

.highlight .nc {
  color: #a6e22e;
}

.highlight .no {
  color: #66d9ef;
}

.highlight .nd {
  color: #a6e22e;
}

.highlight .ni {
  color: #f8f8f2;
}

.highlight .ne {
  color: #a6e22e;
}

.highlight .nf {
  color: #a6e22e;
}

.highlight .nl {
  color: #f8f8f2;
}

.highlight .nn {
  color: #f8f8f2;
}

.highlight .nx {
  color: #a6e22e;
}

.highlight .py {
  color: #f8f8f2;
}

.highlight .nt {
  color: #f92672;
}

.highlight .nv {
  color: #f8f8f2;
}

.highlight .ow {
  color: #f92672;
}

.highlight .w {
  color: #f8f8f2;
}

.highlight .mf {
  color: #ae81ff;
}

.highlight .mh {
  color: #ae81ff;
}

.highlight .mi {
  color: #ae81ff;
}

.highlight .mo {
  color: #ae81ff;
}

.highlight .sb {
  color: #e6db74;
}

.highlight .sc {
  color: #e6db74;
}

.highlight .sd {
  color: #e6db74;
}

.highlight .s2 {
  color: #e6db74;
}

.highlight .se {
  color: #ae81ff;
}

.highlight .sh {
  color: #e6db74;
}

.highlight .si {
  color: #e6db74;
}

.highlight .sx {
  color: #e6db74;
}

.highlight .sr {
  color: #e6db74;
}

.highlight .s1 {
  color: #e6db74;
}

.highlight .ss {
  color: #e6db74;
}

.highlight .bp {
  color: #f8f8f2;
}

.highlight .vc {
  color: #f8f8f2;
}

.highlight .vg {
  color: #f8f8f2;
}

.highlight .vi {
  color: #f8f8f2;
}

.highlight .il {
  color: #ae81ff;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #333;
  background-color: #f3f3f3;
  border-width: 1px;
  border-style: solid;
  border-color: #dadada;
  padding: 1px 6px 1px;
  border-radius: 3px;
}

.lang-label {
  width: 100%;
  background: #191919;
  color: grey;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  padding: 0.1rem 0.5rem;
  font-size: .9rem;
  text-transform: capitalize;
}

.highlight {
  margin-bottom: 1.6rem;
}

pre {
  margin-top: 0;
  background: #282828;
  border: 2px solid #282828;
  overflow: auto;
  padding: 1rem;
}

pre code {
  background: inherit;
  border: none;
  color: white;
  word-break: break-word;
  font-size: 16px;
  padding: 0;
}

@media (max-width: 414px) {
  pre code {
    word-break: normal;
  }
}

@media (min-width: 515px) {
  .hide-phone-up {
    display: none;
  }
}

@media (min-width: 615px) {
  .hide-table-up {
    display: none;
  }
}

@media (max-width: 614px) {
  .hide-table-down,
  [id="hide-table-down"] {
    display: none;
  }
}

@media (max-width: 514px) {
  .hide-phone-down {
    display: none !important;
  }
}

/* -----------------------------------
 * Slidebars
 * Version 0.10.2
 * http://plugins.adchsm.me/slidebars/
 *
 * Written by Adam Smith
 * http://www.adchsm.me/
 *
 * Released under MIT License
 * http://plugins.adchsm.me/slidebars/license.txt
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Box Model, Html & Body
 * 002 - Site
 * 003 - Slidebars
 * 004 - Animation
 * 005 - Helper Classes
 *
 * ----------------------------
 * 001 - Box Model, Html & Body
 */
html, body, #sb-site, .sb-site-container, .sb-slidebar {
  /* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  /* Stops horizontal scrolling. */
}

html {
  height: 100%;
  /* Site is as tall as device. */
}

body {
  min-height: 100%;
  height: auto;
  position: relative;
  /* Required for static Slidebars to function properly. */
}

/* Site scroll locking - prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
html.sb-scroll-lock.sb-active:not(.sb-static) {
  overflow: hidden;
}

/* ----------
 * 002 - Site
 */
#sb-site, .sb-site-container {
  /* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
  width: 100%;
  position: relative;
  z-index: 1;
  /* Site sits above Slidebars */
  background-color: #181818;
  /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
}

/* ---------------
 * 003 - Slidebars
 */
.sb-slidebar {
  height: 100%;
  overflow-y: auto;
  /* Enable vertical scrolling on Slidebars when needed. */
  position: fixed;
  top: 0;
  z-index: 0;
  /* Slidebars sit behind sb-site. */
  display: none;
  /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
  background-color: #222222;
  /* Default Slidebars background colour, overwrite this with your own css. */
  -webkit-transform: translate(0px);
  /* Fixes issues with translated and z-indexed elements on iOS 7. */
}

.sb-left {
  left: 0;
  /* Set Slidebar to the left. */
}

.sb-right {
  right: 0;
  /* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
  position: absolute;
  /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
  display: block;
  /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
}

.sb-style-overlay {
  z-index: 9999;
  /* Set z-index high to ensure it overlays any other site elements. */
}

.sb-momentum-scrolling {
  -webkit-overflow-scrolling: touch;
  /* Adds native momentum scrolling for iOS & Android devices. */
}

.sb-slidebar {
  width: 80%;
}

/* ---------------
 * 004 - Animation
 */
.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;
  -webkit-transition-property: -webkit-transform, left, right;
  /* Add left/right for Android < 4.4. */
  -webkit-backface-visibility: hidden;
  /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */
.sb-hide {
  display: none;
  /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}

/*# sourceMappingURL=app.css.map */