$sans-serif: 'Noto Sans', sans-serif;
$sans-serif-alt: 'Varela Round', sans-serif;;

//========================
// HERO
//========================
.post-hero {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: pal(grey, xxx-light);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.light-to-read {
  @extend %abs-color;
  background-color: transparentize(pal(grey, xx-light), .35);
}

.inner-hero {
  position: relative;
  max-width: $max-width - 220px;
  @include margin-center;
  padding: 5em 16px 6em;

  @include breakpoint($medium-screen) {
    padding: 8em 16px 9em;
  }
}

.cat-title {
  color: white;
  border-bottom: 2px solid;
  display: inline-block;
  font-family: $sans-serif;
  font-size: .7em;
  font-weight: 800;
  margin-bottom: .85em;
  padding: .1em 0;
  text-transform: uppercase;
  @include margin-center;
}

.post-title {
  color: white;
  font-family: $sans-serif-alt;
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 0.3em;

  @include media($medium-screen) {
    font-size: 2.4em;
  }
}

//========================
// AUTHOR
//========================
.author {
  text-align: center;
  margin-bottom: .45em;
  position: relative;
  top: -45px;

  @include e(img) {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 3px solid white;
  }

  @include e(name) {
    margin: 0;
    font-size: 22px;
    font-style: normal;
  }
}

.date {
  color: transparentize($base-font-color, 0.6);
  font-family: $sans-serif-alt;
  font-style: italic;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: .3em;
}

//========================
// CONTENT
//========================
.the-content {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;

  max-width: $max-width - 390px;
  @include margin-center;

  @include breakpoint(max-width $large-screen) {
    h1, h2, h3, h4, h5, h6,
    blockquote, p {
      padding: 0 16px;
    }
  }

  @include clearfix;
  font-family: $sans-serif;
  text-align: left;

  h1, h2, h3, p {
    margin: 0;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $action-color;
    text-decoration: none;
  }


  h1 {
    font-family: $sans-serif-alt;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 0.3em;

    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }

  h2 {
    font-family: $sans-serif-alt;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: .9em;

    @include media($medium-screen) {
      font-size: 1.5em;
    }
  }

  h3 {
    font-family: $sans-serif-alt;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.4em;
  }

  p {
    font-family: $sans-serif;
    letter-spacing: 1;
    line-height: 1.55em;
    margin-bottom: 1.5em;

    span {
      font-family: $sans-serif-alt;
      font-size: 1.2em;
      font-style: italic;
    }
  }

  hr {
    width: 3em;
  }
}


.author {
  font-family: $sans-serif-alt;
  font-size: 1.2em;
  font-style: italic;
}

.the-comments {
  max-width: $max-width - 390px;
  @include margin-center;
  margin-top: 30px;
  margin-bottom: 30px;

  @include breakpoint(max-width $large-screen) {
    padding: 0 16px;
  }
}
