$post-item-h: 130px;

.home {
  margin-top: 30px;
  max-width: $max-width;
  @include margin-center;
}

.post-list {
  position: relative;
  @include display(flex);
  @include flex-wrap(wrap);
  width: 100%;
  padding: 0 16px;

  @include breakpoint(max-width $small-screen) {
    @include e(li) {
      width: 100%;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.post-item {
  display: block;
  border: 1px solid pal(grey, xxxx-light);
  border-radius: 6px;
  overflow: hidden;

  &:hover {
    [class*="hover-"] {
      opacity: .8;
    }

    .icon-over-bg {
      @include transform(translateY(-4px));
    }
  }
}

[class*="hover-"] {
  @include transition(opacity .3s ease-in);
}


.post-item-img {
  position: relative;
  height: $post-item-h;
  background-position: center;
  background-size: cover;
}

.color-hover {
  position: absolute;
  width: 101%;
  height: 101%;
  top: 0;
}

.icon-over-bg {
  color: white;
  font-size: 46px;
  display: block;
  text-align: center;
  position: relative;
  top: $post-item-h / 2.9;
  z-index: 1;
  @include transition(transform .3s ease-in);
}

@each $cat, $color in $category-palette {
  .bg-#{$cat} {
    background-color: $color;
  }

  .hover-#{$cat} {
    background-color: transparentize($color, .18);
  }

  // .color-#{$cat} {
  //   color: $color;
  // }
}

.post-item-inner {
  padding: 10px 16px;

  @include e(date) {
    color: pal(grey, xx-light);
    font-size: 13px;
    font-weight: bold;
  }

  @include e(title) {
    color: pal(grey, light);
    font-size: 18px;

    & + p {
      font-size: 16px;
      color: pal(grey, x-light);
    }
  }
}
